@charset "UTF-8";

.layout-wrap {
  width: 100%;
  min-width: 1136px;
  height: 100%;
}

// header
header {
  @include clearfix;
  position: relative;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 84px;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px 0 rgba(62,62,62,.1);

  .header-wrap {
    @include clearfix;
    padding: 15px 3.9%;
  }

  .home {
    display: block;
    float: left;
    width: 130px;
    height: 53px;
    margin-right: 15%;

    img {
      width: 100%;
    }
  }

  .menu-btn {
    display: none;
  }

  .nav {
    @include clearfix;
    float: left;
    padding: 10px 0;

    &-item {
      float: left;
      color: #333;
      font-size: 16px;
      line-height: 35px;

      &:nth-of-type(n+2) {
        padding-left: 40px;
      }
    }
  }

  .right-col {
    @include clearfix;
    float: right;
    padding: 10px 0;

    .login {
      @include clearfix;
      float: left;
      
      &-item {
        position: relative;
        float: left;
        padding: 11px 20px;
        color: #333;
        font-size: 13px;

        &:nth-of-type(n+2)::before {
          content: "";
          position: absolute;
          display: inline-block;
          top: 12px;
          left: 0;
          width: 1px;
          height: 15px;
          background: #ccc;
        }
      }
    }

    .interior-link {
      display: block;
      float: left;
      width: 187px;
      height: 31px;
      text-align: center;
      color: #ff6600;
      font-size: 13px;
      border-radius: 40px;
      border: 2px solid #f60;

      & > span {
        display: inline-block;
        padding-left: 26px;
        line-height: 31px;
        vertical-align: middle;
        background-image: url('../../images/logo_s.png');
        background-repeat: no-repeat;
        background-size: 20px 23px;
        background-position: 0 3.5px;
        letter-spacing: -2px;
        font-weight: 500;
      }
    }
  }
}