@charset "UTF-8";

// header
@media (max-width: 415px) {
  .layout-wrap {
    min-width: 100%;
  }

  .nav,
  .right-col {
    display: none;
  }

  header {
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 100%;
    height: 52px;
    border-bottom: none;
    box-shadow: none;
    background: #fff;

    .header-wrap {
      position: relative;
      padding: 0;
      text-align: center;
    }

    .home {
      display: inline-block;
      width: 88px;
      height: auto;
      float: none;
      margin-right: 0;
      padding-top: 8px;
    }

    .menu-btn {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;

      img {
        width: 17px;
      }
    }
  }

  // content
  .content {
    min-width: 100%;

    &-banner {
      height: auto;
      margin-top: 52px;
      padding: 18% 0;
      background-image: url('../../images/banner_mo.png');
      background-position: 0 0;
      background-size: 100% auto;

      .banner-tit {
        margin-bottom: 20px;
        font-size: 19px;
        line-height: 30px;
        font-weight: 500;
      }

      .banner-btn {
        width: 190px;
        height: 45px;
        font-size: 15px;
        line-height: 45px;
      }
    }

    &-expert {
      height: auto;
      padding: 10% 0 27%;
      background-image: url('../../images/expert_mo.png');
      background-size: 352px 89px;

      .expert-tit {
        margin-bottom: 0;
        padding: 0 60px;
        font-size: 19px;
        font-weight: 500;
        line-height: 1.4;
        background-image: none;
      }

      .expert-subtit {
        font-size: 14px;
      }
    }

    &-point {
      width: 100%;
      overflow-x: auto;
      
      &.swiper-container {
        padding: 10% 0 18%;
      }

      .point-list {
        width: 1200px;

        .point-item {
          width: 400px;

          &-img {
            padding-bottom: 20px;
          }

          &-head {
            margin-bottom: 22px;
            padding: 0 0 20px 0;
            font-size: 20px;
          }

          &-content {
            padding-top: 0;
            font-size: 14px;
          }
        }
      }

      .swiper-pagination {
        display: block;
      }

      .swiper-pagination-bullet-active {
        width: 20px;
        border-radius: 4px;
        background: #639fea;
        transition: all 0.3s;
      }

      .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 28px;
      }
    }

    &-review {
      height: auto;
      padding: 25% 0;

      .thumbnail {
        width: 70px;
        height: 70px;
        border: 3px solid #fff;
      }

      .reviewer {
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 1.5;
      }

      .from {
        padding-top: 20px;
      }
    }

    &-buildtype {
      $root: '.buildtype';

      width: 100%;
      padding-top: 50px;

      #{$root}-head{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px 24px 20px;
        box-sizing: border-box;
      }

      #{$root}-tit {
        font-size: 18px;
      }

      #{$root}-more {
        margin-top: 4px;
        font-size: 13px;
      }

      #{$root}-list-wrapper {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
        }
      }

      #{$root}-list {
        width: 730px;
      }

      #{$root}-item {
        width: 135px;
        height: 160px;

        img {
          width: 100%;
        }

        &-tit {
          left: 20px;
          bottom: 20px;
          color: #fff;
          font-size: 15px;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    &-tip {
      $root: '.tip';

      width: 100%;
      padding: 50px 20px;
      box-sizing: border-box;

      #{$root}-list {
        #{$root}-item {
          width: 48%;
          padding-bottom: 20px;
  
          &:nth-of-type(even) {
            float: right;
  
            &::after {
              display: none;
            }
          }

          &:not(:last-child) {
            margin-right: 0px;

            &::after {
              content: "";
              top: 60px;
              right: -20px;
              width: 20px;
            }
          }
        }
      }

      #{$root}-tit {
        padding-bottom: 30px;
        font-size: 20px;
        line-height: 1;
      }

      #{$root}-img {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
        padding: 0;
      }

      .step {
        padding-bottom: 10px;
        font-size: 18px;
      }

      .step-content {
        font-size: 13px;
        word-break: keep-all;
        line-height: 1.38;
      }
    }

    &-calc {
      $root: '.calc';

      width: 100%;
      height: 428px;
      
      #{$root}-wrap {
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        background-size: 254px 242px;
        background-position-x: 80%;
      }

      #{$root}-tit {
        word-break: keep-all;
        font-size: 17.5px;
      }

      #{$root}-body {
        padding-bottom: 20px;
        font-size: 12px;
      }

      #{$root}-btn {
        width: 119px;
        font-size: 13px;
      }
    }

    &-check {
      $root: '.check';

      width: 100%;
      padding: 50px 0 70px;

      #{$root}-head{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px 24px 20px;
        box-sizing: border-box;
      }

      #{$root}-tit {
        font-size: 18px;
      }

      #{$root}-more {
        margin-top: 4px;
        font-size: 13px;
      }

      #{$root}-list-wrapper {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
        }
      }

      #{$root}-list {
        width: 642px;
      }

      #{$root}-item {
        width: 149px;

        .check-img {
          height: 106px;
          margin-bottom: 15px;
          border-radius: 6px;

          img {
            border-radius: 6px;
          }
        }

        &:not(:last-child) {
          margin-right: 9px;
        }
        
        &-label {
          padding-bottom: 5px;
          font-size: 12px;
        }

        &-body {
          font-size: 15px;
        }
      }
    }
  }
}